.menu {
  color:brown;
 
    

  background-color:rgb(0, 0, 0);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color:whitesmoke;
}
.grid {
    
    display: flex; 
    flex-wrap:wrap; 
  
  justify-content:space-around; 
 font-family : sans-serif;
 font-size: small; 
}

.grid img {
  display:flex;
  flex-wrap: wrap;
  
  border: 1px solid black;
  border-radius: 50px;
}
.origami {
  
  border-radius: 20px;
  background-color:honeydew;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}

